In [1]:
# Dependencies
import numpy as np
import datetime as dt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [8]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
year = [2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010]
June_results = []
July_results = []
for x in year:
    June_date = dt.date(x,6,30)-dt.timedelta(days=29)
    July_date = dt.date(x,7,1)

June_results += June_date
July_results += July_date
print(June_results)
print(July_results)

TypeError: 'datetime.date' object is not iterable

In [ ]:
# 2. Convert the June temperatures to a list.
results=session.query(Measurement.date, Measurement.prcp).\
filter(Measurement.date >= June_data).filter(Measurement.date < July_month)
print(results.all())

In [26]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=True)
df=df.sort_index()
print(df.to_string(index=False))

      date  precipitation
2017-06-01           0.00
2017-06-01           0.00
2017-06-01           0.00
2017-06-01           0.01
2017-06-01           0.03
2017-06-01           0.00
2017-06-02           0.09
2017-06-02           0.15
2017-06-02            NaN
2017-06-02           0.10
2017-06-02           0.00
2017-06-02           0.00
2017-06-03           0.02
2017-06-03           0.20
2017-06-03            NaN
2017-06-03           0.16
2017-06-03           0.08
2017-06-03           0.15
2017-06-04           0.00
2017-06-04           0.00
2017-06-04           0.82
2017-06-04           0.15
2017-06-04           0.05
2017-06-04           0.13
2017-06-05            NaN
2017-06-05           0.00
2017-06-05           0.01
2017-06-05           0.05
2017-06-05           0.00
2017-06-05           0.02
2017-06-05           0.00
2017-06-06           0.00
2017-06-06           0.00
2017-06-06           0.00
2017-06-06            NaN
2017-06-06           0.00
2017-06-06           0.00
2017-06-06           0.00
2017-06-07           0.00
2017-06-07           0.00
2017-06-07           0.00
2017-06-07            NaN
2017-06-07           0.00
2017-06-07           0.00
2017-06-07           0.01
2017-06-08           0.00
2017-06-08           0.00
2017-06-08           0.00
2017-06-08            NaN
2017-06-08           0.01
2017-06-08           0.02
2017-06-08           0.00
2017-06-09            NaN
2017-06-09           0.02
2017-06-09           0.00
2017-06-09           0.00
2017-06-09           0.00
2017-06-09           0.02
2017-06-10           0.04
2017-06-10            NaN
2017-06-10           0.62
2017-06-10           0.53
2017-06-10           0.13
2017-06-10           0.21
2017-06-11           0.14
2017-06-11           0.24
2017-06-11           0.74
2017-06-11           0.70
2017-06-11           0.08
2017-06-11           0.25
2017-06-12           0.02
2017-06-12           0.19
2017-06-12           0.24
2017-06-12           0.35
2017-06-12           0.81
2017-06-12           0.14
2017-06-13           0.10
2017-06-13            NaN
2017-06-13           0.65
2017-06-13           0.36
2017-06-13           0.24
2017-06-13           0.03
2017-06-13           0.00
2017-06-14           0.21
2017-06-14           0.00
2017-06-14           0.06
2017-06-14           0.27
2017-06-14           0.81
2017-06-14            NaN
2017-06-14           0.22
2017-06-15           0.00
2017-06-15           0.00
2017-06-15           0.17
2017-06-15           0.55
2017-06-15            NaN
2017-06-15           1.69
2017-06-15           0.30
2017-06-16           0.06
2017-06-16           0.02
2017-06-16            NaN
2017-06-16           0.00
2017-06-16           0.00
2017-06-16           0.02
2017-06-16           0.10
2017-06-17           0.00
2017-06-17           0.07
2017-06-17           0.10
2017-06-17           0.35
2017-06-17           0.00
2017-06-17           0.02
2017-06-18           0.70
2017-06-18           0.25
2017-06-18           0.00
2017-06-18           0.05
2017-06-18           0.18
2017-06-18           0.24
2017-06-19           0.01
2017-06-19            NaN
2017-06-19           0.40
2017-06-19           0.19
2017-06-19           0.00
2017-06-19           0.08
2017-06-19           0.05
2017-06-20           0.00
2017-06-20           0.31
2017-06-20            NaN
2017-06-20           0.17
2017-06-20           0.05
2017-06-20           0.02
2017-06-21           0.19
2017-06-21            NaN
2017-06-21           0.02
2017-06-21           0.00
2017-06-21            NaN
2017-06-21           0.30
2017-06-22           0.00
2017-06-22           0.00
2017-06-22           0.10
2017-06-22           0.28
2017-06-22           0.06
2017-06-22           0.00
2017-06-23           0.00
2017-06-23           0.00
2017-06-23           0.50
2017-06-23           0.12
2017-06-23           0.00
2017-06-23            NaN
2017-06-23           0.05
2017-06-24           0.00
2017-06-24           0.36
2017-06-24           0.00
2017-06-24           0.06
2017-06-24           0.22
2017-06-25           0.00
2017-06-25           0.08
2017-06-25           0.50
2017-06-25           0.02
2017-06-25           0.00
2017-06-26           0.02
2017-06-26           0.00
2017-06-26           0.02
2017-06-26           0.06
2017-06-26            NaN
2017-06-26           0.00
2017-06-26            NaN
2017-06-27           0.01
2017-06-27           0.00
2017-06-27           0.00
2017-06-27           0.10
2017-06-27           0.00
2017-06-27           0.00
2017-06-28           0.00
2017-06-28           0.00
2017-06-28           0.01
2017-06-28           0.02
2017-06-28           0.00
2017-06-28           0.00
2017-06-29           0.00
2017-06-29           0.04
2017-06-29            NaN
2017-06-29           0.00
2017-06-29           0.03
2017-06-29           0.00
2017-06-29           0.00
2017-06-30           0.01
2017-06-30           0.12
2017-06-30           0.00
2017-06-30           0.08
2017-06-30           0.04
2017-06-30           0.07
2017-06-30           0.20

In [27]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       precipitation
count     171.000000
mean        0.120000
std         0.217726
min         0.000000
25%         0.000000
50%         0.020000
75%         0.150000
max         1.690000

In [ ]:
# 5. Return to your challenge instructions to compare your summary statistics

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_data = dt.date(2016,12,31) - dt.timedelta(days=30)
Jan_month = dt.date(2017,1,1)

In [ ]:
# 7. Convert the December temperatures to a list.

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.

In [ ]:
# 10. Return to your challenge instructions to compare your summary statistics